[Unit]
Description=Storyboard API Service
After=syslog.target network.target mariadb.service

[Service]
Type=simple
User=storyboard
Group=storyboard
SyslogIdentifier=storyboard
EnvironmentFile=-/etc/sysconfig/storyboard
ExecStart=/usr/sbin/uwsgi --plugin python --http-socket :20000 -p3 --wsgi-file /usr/lib/python2.7/site-packages/storyboard/api/app.wsgi --pyargv "--config-file /etc/storyboard/storyboard.conf --log-config-append /etc/storyboard/logging.conf"

[Install]
WantedBy=multi-user.target
